h1.title{
    text-align: center;
    margin: 2% 25%;
    padding: 2%;
    font-family: sans-serif;
    background-color: rgba(0,0,0, 0.05);
}

#start-button{
    text-align: center;
    font-size: 360%;
    font-family: monospace;
    background-color: darkseagreen;
    margin: 10% 38%;
    padding: 3%;
    border: 6px solid black;
    border-radius: 20%;
}

footer{
    position: fixed;
    bottom: 1%;
    right: 1%;
}